<div class="container">
    <div class="row">
        <h3>注文詳細一覧</h3>
        <div class="col-7">
            <p>注文情報</p>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td>注文日</td>
                    <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
                </tr>
                <tr>
                    <td>配送先</td>
                    <td>
                        〒<%= @order.postcode %><br>
                        <%= @order.address %>
                    </td>
                </tr>
                <tr>
                    <td>支払方法</td>
                    <td><%= @order.payment_method %></td>
                </tr>
                <tr>
                    <td>ステータス</td>
                    <td><%= @order.status %></td>
                </tr>
            </table>
        </div>
        </div>
        
        <div class="col-3">
            <p>請求情報</p>
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <td>商品合計</td>
                    <td><%= @order.total_payment %></td>
                </tr>
                <tr>
                    <td>配送料</td>
                    <td>¥800</td>
                </tr>
                <tr>
                    <th>ご請求額</th>
                    <th>¥<%= @order.total_payment.to_s(:delimited) %></th>
                </tr>
            </table>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <p>注文内容</p>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>商品</td>
                        <td>単価（税込）</td>
                        <td>個数</td>
                        <td>小計</td>
                    </tr>
                </thead>
                <tbody>
                    <% @order_item.each do |order_item| %>
                    <tr>
                        <td><%= order_item.name %></td>
                        <td><%= order_item.purchase_price %></td>
                        <td><%= order_item.quantity %></td>
                        <td><%= order_item.total_price %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>