<div><%= flash[:notice] %></div>

<div class="col-6">
 <h2 class= "text-center mt-3 mb-3 font-weight-bold">ログイン</h2>
 <p class="text-center" style="margin-left:130px;">会員の方はこちらからログイン</p>
</div>


<div class= "container" style="margin-right:50px;">
  <div class="col-sm-9 text-center">
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'col-sm-6 ml-3' %>
      </div>

      <div class="field mt-4" style="margin-left:21px;">
        <%= f.label "パスワード" %>
        <%= f.password_field :password, autocomplete: "current-password", class:'col-sm-6 ml-3' %>
      </div>

      <div class="actions col-10">
        <%= f.submit "ログイン", class: 'mt-4 btn btn-success' %>
      </div>
   <% end %>
 </div>
</div>

<div class="col-7 mt-5">
   <h5 class= "text-center mt-3 mb-3 font-weight-bold">会員登録がお済みでない方</h5>
</div>

<div class="col-8 text-center">
   <p><%= link_to "こちら", new_customer_registration_path, class:'text-info' %>から新規登録を行なってください。</p>
</div>
