<div class="container">
    <div class="row">
        <div class="col-3">
            <%= render "admin/genres/genre_search", genres: @genres %>
        </div>
        <div class="col-9">
            <div class="row m-5 p-3 pb-5"  style="background-color:rgba(255,255,255,0.5);">
                <div class="col-md-4" >
                    <%= image_tag @item.get_image(300, 200) %>
                </div>
                <div class="col-md-6 offset-md-2">
                    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
                        <%= f.hidden_field :item_id, :value => @item.id %>
                        <h4 class="ml-3 p-2"><%= @item.name %></h4>
                        <h6 class="ml-3 p-2"><%= @item.explanation %></h6>
                    <div class="mb-3" style="float: right">
                    <div class="row">
                        <p class="mr-3">¥<%= @item.purchase_price %>(税込)</p>
                        <p>数量：<%= f.select :quantity, *[1..10] %></p>
                    </div>
                    </div>
                    <div class="ml-3">
                        <%= f.submit "カートに入れる", class: "btn btn-block btn-secondary" %>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
