<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%#<% unless admin_signed_in? %>
    <%#<%= render "layouts/search", { search: @search } %>
    <%#<% end %>
    <main>
     <%= flash[:notice] %>
     <style type="text/css">
        body{
          background-image: url(assets/bacground3.jpeg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          background-attachment: fixed;
        }
      </style>
     <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>